body, html {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#d1ad4a 30%, #1D121F 50%);
    scroll-margin-top: 25vh;
    text-align: center;
    scrollbar-width: thin;
    scrollbar-color:  #d1ad4a #1D121F;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


nav {
    padding: 1vh 0;
    background-color: #1D121F;
    display: flex;
    gap: 7vw;
    align-items: center;
    margin-right: 2vw;
}

header{
    padding: 1vh 0;
    background-color: #1D121F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

header >  a > img {
    height: 4vw;
    margin-left: 2vw;
    height: clamp(30px, 4vw, 70px);
}

#hamb {
    display: none;
}

header >  a > img:hover {
    opacity: 0.9;
}

nav > a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5vw;
    font-size: clamp(10px, 1.5vw, 40px);
    font-family: "IM Fell DW Pica SC", serif;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 4vw;
    background-image: linear-gradient(to right, aliceblue, #d1ad4a);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
}

nav > a:hover, nav > a:focus, nav > a:active {
    opacity: 0.8;
    background-size: 100% 0.1em;
}

.download-button {
    color: #1D121F;
    background-color: aliceblue;
    padding: 5px 10px;
    border-radius: 6px;
    background-image: linear-gradient(aliceblue, #d1ad4a);
    background-size: 100% 0.1em;
    background-position-y: 100%;
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
}

.download-button:hover, .download-button:focus, .download-button:active {
    background-size: 100% 100%;
    opacity: 1;
}

.body-wrapper {
    position: relative;
}

main {
    padding-top: 25vh;
    background-image: linear-gradient(#d1ad4a);
    background-image: linear-gradient(#24111123 25%, #1D121F);
    flex: 1;
}

.main-wrapper {
    position: relative;
}

.hero-sect {  
    background-image: url('../img/alt_hero_edit_lesser.png'), linear-gradient(#d1ad4a, #1D121F 60%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    position: relative;
    z-index: 1;
}

.shadow {
    background-image: linear-gradient(#24111123 , #24111196);
    height: 100%;
}

.hero-txt {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    font-size: clamp(40px, 2vw, 80px);
    margin-left: 10vw;
    width: fit-content;
    text-align: left;
}

h1, h2 {
    font-family: "IM Fell Great Primer SC", serif;
    color: aliceblue;
    text-decoration: underline;
    margin: 0;
}

.hero-txt > h1 {
    font-size: clamp(40px, 4vw, 120px);
}

.hero-txt > h3 {
    color: aliceblue;
    font-family: "IM Fell DW Pica SC", serif;
    margin: 0;
    font-size: 2vw;
    font-size: clamp(32px, 2vw, 56px);
}

.aft-hr {
    position: absolute;
    top: 60vh;
    left: 0;
    width: 100%;
    background-color: #2a152d;
    border-radius: 20px;
    border-top: solid #fff 3px;
    z-index: 2;
    scroll-margin-top: 10vh;

}

.aft-hr-spacer {
    width: 100%;

}

.aft-hr > h2 {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-size: clamp(28px, 3vw, 80px);
    padding: 4vh 0 5vh;
}

.book-sect {
    display: flex;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to right, #ffcd4236 0%, #ebe0c43b 100%);
    padding: 2vw 0;
    justify-content: space-evenly;
}

.book-format {
    padding: 1vw 2vw;
    border-radius: 20px;
    background-color: rgba(17, 10, 18, 0.6);
    width: fit-content;
    height: fit-content;
    color: aliceblue;
    font-family: "IM Fell Great Primer SC", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #1D121F 0 0 5px;
}

.book-format > img {
    width: 14vw;
    width: clamp(100px, 14vw, 300px);
    border-radius: 5px;
}

.book-format > h3, .book-format > p {
    font-size: 1.2vw;
    margin: 0;
    width: 14vw;
    width: clamp(100px, 14vw, 300px);
    padding: 1vh 0 0;
    text-align: left;
}

.book-format > p {
    opacity: 0.5;
    font-size: 1.2vw;
    font-size: clamp(10px,1.2vw, 30px);
}

.about {
    color: aliceblue;
    width: 45vw;
    margin: auto;
    margin-top: 25vw;
    margin-bottom: 25vw;
    font-size: 1.8vw;
    font-size: clamp(15px, 1.8vw, 32px);
    font-family: "IM Fell DW Pica SC", serif;
    scroll-margin-top: 40vh;
}

.about > h2 {
    font-size: 3.5vw;
    font-size: clamp(28px, 3.5vw, 80px);
}

hr {
    border-color: #ffcc42;
}

.thin-hr {
    margin: 0;
    border-bottom: 1px;
}

.download-sect {
    display: flex;
    justify-content: center;
    background-color: #1d121f;
    padding: 5vw;
    border-top: solid 3px #e9ba3a; 
    border-bottom: solid 3px #e9ba3a;
    scroll-margin-top: 35vh;
    position: relative;
}

#dwnld-btn {
    background-color: #e9ba3a;
    color: #1d121f;
    font-family: "IM Fell Great Primer SC", serif;
    padding: 1vw 5vw;
    border-radius: 60px;
    font-size: 3vw;
    font-size: clamp(40px, 3vw, 64px);
    text-decoration: none;
    text-decoration-color: #1D121F;
    background-image: linear-gradient(to right, #1D121F, #1D121F);
    background-size: 0% 0.1em;
    background-position-y: 80%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
}

#dwnld-btn:hover, #dwnld-btn:focus, #dwnld-btn:active {
    opacity: 0.9;
    background-size: calc(100% - 9vw) 0.05em;
}

 .ellipse1 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10vw;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border: solid #ffcc42 3px;
} 

.ellipse2 {
    position: absolute;
    left: 0;
    top: 1px;
    bottom: 1px;
    width: 9.5vw;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border: solid #ffcc42 3px;
}

.ellipse3 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10vw;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border: solid #ffcc42 3px;
}

.ellipse4 {
    position: absolute;
    right: 0;
    top: 1px;
    bottom: 1px;
    width: 9.5vw;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border: solid #ffcc42 3px;
}


.user-guide {
    display: flex;
    width: fit-content;
    justify-content: center;
    margin: auto;
    margin-top: 26vw;
    margin-bottom: 20vw;
    padding: 2vw 3vw;
    border-radius: 30vw;
    border: solid 2.5px #ffffff09;
    background-image: linear-gradient(to bottom, #ffffff0a, #ffffff36);
    scroll-margin-top: 35vh;
}

.user-guide-2 {
    width: fit-content;
    max-width: 40vw;
    padding: 2vw 4vw;
    border: solid 2px #ffffff99;
    border-radius: 30vw;
    background-image: linear-gradient(to bottom, #ffffff85, #ffffff11);
    color: #2a152d;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.user-guide-2 > h2 {
    background-color: #2a152d;
    color: #d9d9d9;
    width: 15vw;
    padding: 0.5vh 3vw;
    border-radius: 35px;
    font-size: 2.5vw;
    font-size: clamp(30px, 2.5vw, 55px);
}

.user-guide-2 > p {
    font-family: "IM Fell DW Pica SC", serif;
    font-size: 1.3vw;
    font-size: clamp(14px, 1.3vw, 28px);
}

#userGuide {
    color: aliceblue;
    text-decoration: none;
    background-image: linear-gradient( #532260, #2a152d);
    font-family: "IM Fell Great Primer SC", serif;
    padding: 0.5vh 2vw;
    font-size: 2vw;
    font-size: clamp(20px, 2vw, 45px);
    border: solid 3px #d9d9d9;
    border-radius: 15px;
    margin: 0;
}

#userGuide:hover {
    opacity: 0.9;
}

footer {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1d121f;
    color: #ffcc42;
    z-index: 90;
}

footer > hr {
    width: 40%;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    position: relative;
}

.icon-wrap {
    width: 4vw;
    height: 4vw;
    position: relative;
}

.border-spin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2.5px dashed transparent;
    border-radius: 50%;
    padding: 1vw;
    box-sizing: border-box;
    z-index: 1;
}

.icon-wrap > a > img {
    width: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    pointer-events: auto;
    z-index: 2;
    transition: opacity 0.3s;
}

.icon-wrap:hover .border-spin {
    animation: spin 2s linear infinite;
    border-color: #ffcc42;
  }

.icon-wrap > a > img:hover {
    opacity: 0.7;
}

@keyframes spin {
    100% {
        transform: rotateZ(180deg);
    }
}

footer {
    height: fit-content;
    padding-top: 40px;
}

.foot-extra {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-top: 1vh;
}

.foot-extra > a {
    text-decoration: none;
    color: #ffcc42;   
    font-family: "IM Fell DW Pica SC", serif;
    font-size: 1.5vw;
    font-size: clamp(10px, 1.5vw, 25px);
}

.foot-extra > a:hover {
    opacity: 0.7;
}

footer > p {
    font-family: "IM Fell Great Primer SC", serif;
    font-size: 1vw;
    margin: 0;
    margin-bottom: 2vh;
    opacity: 0.5;
}

@media screen and (max-width: 1400px) {
    header > nav > a {
        font-size: 2vw;
    }

    .hero-txt, .hero-txt > h3 {
        font-size: 3vw;
    }

    .aft-hr > h2 {
        font-size: 4vw;
    }

    .book-format {
        width: 18vw;
        height: 32vh;
        height: min-content;
        border-radius: 15px;
        padding: 2vw 3vw;

    }
    .book-format > img {
        width: 18vw;
    }

    .book-format > h3, .book-format > p {
        width: 100%;
        font-size: 1.5vw;
    }

    .user-guide-2 > p {
        font-size: 1.7vw;
    }

    footer > hr {
        width: 45%;
    }

    .icons {
        gap: 2vw;
    }

    .icon-wrap {
        width: 5vw;
        height: 5vw;
    }

    .icon-wrap > a > img {
        width: 4vw;
    }

    .foot-extra {
        gap: 4vw;
    }

    .foot-extra > a {
        font-size: 2vw;
        margin-top: 5px;
    }

    footer > p {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 1000px) {

    header >  a > img {
        height: 5vw;
    }

    header > nav > a {
        font-size: 2vw;
    }

    .hero-txt, .hero-txt > h3 {
        font-size: 3.5vw;
    }

    .aft-hr > h2 {
        font-size: 4vw;
    }

    .book-format {
        width: 18vw;
        height: 32vh;
        height: min-content;
        border-radius: 15px;
        padding: 2vw 3vw;
    }

    .book-format > img {
        width: 18vw;
    }

    .book-format > h3, .book-format > p {
        width: 100%;
        font-size: 1.5vw;
    }

    .about {
        font-size: 2.5vw;
    }

    #dwnld-btn {
        font-size: 4vw;
    }

    .user-guide {
        border-radius: 25vw;
    }

    .user-guide-2 {
        border-radius: 25vw;
        max-width: 50vw;
    }

    .user-guide-2 > h2 {
        width: fit-content;
        font-size: 3.2vw;
    }

    .user-guide-2 > p {
        font-size: 2vw;
    }

    #userGuide {
        font-size: 2.5vw;
    }

    footer > hr {
        width: 50%;
    }

    .icons {
        gap: 1.5vw;
    }

    .icon-wrap {
        width: 5.5vw;
        height: 5.5vw;
    }

    .icon-wrap > a > img {
        width: 4.5vw;
    }

    .foot-extra {
        gap: 5vw;
    }

    .foot-extra > a {
        font-size: 2vw;
        margin-top: 5px;
    }

    footer > p {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 800px) {

    header >  a > img {
        height: 6vw;
    }

    header > nav > a {
        font-size: 2.5vw;
    }

    .hero-txt, .hero-txt > h3 {
        font-size: 4.5vw;
    }

    .aft-hr > h2 {
        font-size: 5.5vw;
    }

    .book-format {
        width: fit-content;
    }

    .book-format > img {
        width: 24vw;
    }

    .book-format > h3, .book-format > p {
        font-size: 2vw;
    }

    .about {
        font-size: 3vw;
        width: 60vw;
    }

    .about > h2 {
        font-size: 5vw;
    }

    #dwnld-btn {
        font-size: 5.5vw;
    }

    .user-guide-2 {
        max-width: 60vw;
    }

    .user-guide-2 > h2 {
        font-size: 3.5vw;
    }

    .user-guide-2 > p {
        font-size: 2.5vw;
    }

    #userGuide {
        font-size: 3vw;
    }

    footer > hr {
        width: 55%;
    }

    .icons {
        gap: 4vw;
    }

    .border-spin {
        display: none;
    }

    .icon-wrap > a > img {
        width: 5vw;
    }

    .foot-extra > a {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 700px) {

    .user-guide-2 {
        max-width: 70vw;
    }

    .user-guide-2 > h2 {
        font-size: 4vw;
    }

    .user-guide-2 > p {
        font-size: 3vw;
    }

    #userGuide {
        font-size: 3.5vw;
    }

    footer > hr {
        width: 55%;
    }

    .icons {
        gap: 4vw;
    }

    .icon-wrap > a > img {
        width: 6vw;
    }

    .foot-extra > a {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 600px) {

    html {
        scrollbar-width: none;
    }

    header {
        overflow: hidden;
        background-color: #1D121F;
        position: fixed;
        display: flex;
        justify-content: left;
    }

    header > a > img {
        display: flex;
        position: absolute;
        top: 1vh;
        left: 4vw;
        height: 8vw;
    }

    #links {
        display: none;
        flex-direction: column;
    }

    #links.active {
        display: flex;
    }

    #hamb {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }

    header > a {
        color: aliceblue;
        padding: 3vw 6vw 5vw 1vw;
        text-decoration: none;
        font-size: 5vw;
    }

    header a:hover {
        opacity: 0.8;
    } 

    nav {
        margin-top: 10vw;
        flex-direction: column;
        align-items: start;
    }

    header > nav > a {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 2vw 0;
        font-size: 20px;
    }

    .download-button {
        width: fit-content;
        border-radius: 0;
        background-color:transparent;
        color: aliceblue;
        padding: 2vw 0;
        background-image: linear-gradient(to right, aliceblue, #d1ad4a);
        background-size: 0% 0.1em;
        background-position-y: 100%;
    }

    .download-button:hover, .download-button:focus, .download-button:active {
        opacity: 0.9;
        background-size: 100% 0.1em;
    }

    .hero-sect {
        height: 125vh;
    }

    .hero-txt {
        font-size: 5vw;
        margin-top: -10vh;
        margin-left: 6vw;
    }

    .hero-txt > h3 {
        font-size: 7vw;
    }

    .aft-hr {
        top: 70vh;
        border-top: solid aliceblue 1.5px;
    }

    .aft-hr > h2 {
        font-size: 8.5vw;
        margin-top: 2vh;
    }

    .book-sect {
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .book-format {
        height: fit-content;
        width: fit-content;
        margin: 2vh 0;
        border-radius: 15px;
        padding: 20px;
    }

    .book-format > img {
        width: 35vw;
    }

    .book-format > h3, .book-format > p  {
        width: 100%;
        font-size: 3vw;
    }

    .book-format > p {
        font-size: 2.5vw;
    }

    .about {
        width: 80vw;
        text-align: justify;
        margin-top: 25vh;
        margin-bottom: 30vh;
        font-size: 4vw;
    }

    .about > h2 {
        font-size: 8vw;
        text-align: center;
    }

    #dwnld-btn {
        font-size: 7vw;
    }

    .ellipse1 {
        width: 14vw;
        border-width: 3px;
    }

    .ellipse2 {
        width: 13vw;
        border-width: 3px;
    }

    .ellipse3 {
        width: 14vw;
        border-width: 3px;
    }

    .ellipse4 {
        width: 13vw;
        border-width: 3px;
    }

    .download-sect {
        scroll-margin-top: 40vh;    
    }
    
    .user-guide {
        width: fit-content;
        border-radius: 0;
        border: none;
        padding-top: 25vh;
        padding-bottom: 20vh;
        background-image: linear-gradient(to bottom, #ffffff00, #ffffff36, #ffffff00);
        scroll-margin-top: 5vh;

    }

    .user-guide-2 {
        width: 100%;
        border-radius: 0;
        border: none;
        padding: 5vh 8vw ;
        margin: 0 3vw;
        background-image: linear-gradient(to bottom, #ffffff00, #ffffff5d,  #ffffff5d, #ffffff00);
        text-align: justify;
    }

    .user-guide-2 > h2 {
        font-size: 6.5vw;
        width: fit-content;
        opacity: 0.95;
    }

    .user-guide-2 > p {
        font-size: 4.5vw;
    }

    #userGuide {
        font-size: 5vw;
        border: solid 2px #d9d9d9;
        border-radius: 10px;
    }

    .icons {
        gap: 6.5vw;
    }

    .border-spin {
        display: none;
    }

    .icon-wrap > a > img {
        width: 8vw;
    }

    footer > hr {
        width: 80%;
    }

    .foot-extra {
        margin-top: 3vw;
        gap: 6vw;
    }

    .foot-extra > a {
        font-size: 4vw;
    }

    footer > p {
        font-size: 2.5vw;
    }
  }

  @media screen and (max-width: 500px) {

    .ellipse1 {
        width: 15vw;
        border-width: 2px;
    }

    .ellipse2 {
        width: 14vw;
        border-width: 2px;
    }

    .ellipse3 {
        width: 15vw;
        border-width: 2px;
    }

    .ellipse4 {
        width: 14vw;
        border-width: 2px;
    }
}
